@charset "UTF-8";
.head{
	text-align:center;
}
.options{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	gap:1rem;
}
.first_table{
	width:80%;
	text-align:left;
	margin:auto;
	border:1px solid black;
}
caption{
	font-size:1.5rem;
	font-weight:bolder;
	padding:5px;
}
th,td{
	border:1px solid black;	
}
.center-container{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}
